.gradient-custom {
    /* fallback for old browsers */
    background: #2411cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(17, 150, 203), rgb(8, 84, 214));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(17, 64, 203), rgba(37, 117, 252, 1))
    }

    *{
        color: #10075c;
        font-family: cursive;
    }