<div class="row">
    <h2>Educación</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <b>CodeIOT</b>
                <ul>
                    <li>Aprendiendo a programar (2020)</li>
                    <li>Aplicaciones para dispositivos móviles (2020)</li>
                </ul>
            </li>
            <li>
                <b>Polotic Misiones</b>
                <ul>
                    <li>Inglés para desarrollo de software (2020)</li>
                    <li>programación web php (2020)</li>
                </ul>
            </li>
            <li>
                <b>Silicon Misiones</b>
                <ul>
                    <li>Introducción a la programación y diseño de aplicaciones (2021)</li>
                    <li>Desarrollador web full stack (2021)</li>
                    <li>Data science for analytics (2021)</li>
                </ul>
            </li>
            <li>
                <b>Codo a codo</b>
                <ul>
                    <li>Desarrollo web fullstack php (2021)</li>
                </ul>
            </li>
            <li>
                <b>Universidad Tecnológica Nacional</b>
                <ul>
                    <li>Php y mysql avanzado (2021)</li>
                </ul>
            </li>
            <li>
                <b>Universidad del conocimiento</b>
                <ul>
                    <li>Introducción al diseño UX/UI (2021)</li>
                    <li>Desarrollo y diseño inicial de aplicaciones (2021)</li>
                </ul>
            </li>
        </ul>
    </div>
</div>

