<div class="row">
    <h2>Hard & Soft Skills</h2>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 skill">
        <h3>HTML</h3>
        <circle-progress
            [percent]="90"
            [radius]="80"
            [titleColor]="'#053658'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2e4ff'"
            [innerStrokeColor]="'#053658'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = false
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 skill">
        <h3>CSS</h3>
        <circle-progress
            [percent]="85"
            [radius]="80"
            [titleColor]="'#053658'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2e4ff'"
            [innerStrokeColor]="'#053658'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = false
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 skill">
        <h3>Javascript</h3>
        <circle-progress
            [percent]="65"
            [radius]="80"
            [titleColor]="'#053658'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2e4ff'"
            [innerStrokeColor]="'#053658'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = false
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 skill">
        <h3>PHP</h3>
        <circle-progress
            [percent]="75"
            [radius]="80"
            [titleColor]="'#053658'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2e4ff'"
            [innerStrokeColor]="'#053658'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = false
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 skill">
        <h3>JAVA</h3>
        <circle-progress
            [percent]="65"
            [radius]="80"
            [titleColor]="'#053658'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2e4ff'"
            [innerStrokeColor]="'#053658'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = false
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 skill">
        <h3>SQL</h3>
        <circle-progress
            [percent]="65"
            [radius]="80"
            [titleColor]="'#053658'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2e4ff'"
            [innerStrokeColor]="'#053658'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = false
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 skill">
        <h3>GitHub</h3>
        <circle-progress
            [percent]="65"
            [radius]="80"
            [titleColor]="'#053658'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2e4ff'"
            [innerStrokeColor]="'#053658'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = false
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 skill">
        <h3>Inglés</h3>
        <circle-progress
            [percent]="35"
            [radius]="80"
            [titleColor]="'#053658'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2e4ff'"
            [innerStrokeColor]="'#053658'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = false
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 skill">
        <h3>Gestión del tiempo</h3>
        <circle-progress
            [percent]="80"
            [radius]="80"
            [titleColor]="'#053658'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2e4ff'"
            [innerStrokeColor]="'#053658'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = false
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 skill">
        <h3>Aprendizaje rápido</h3>
        <circle-progress
            [percent]="90"
            [radius]="80"
            [titleColor]="'#053658'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2e4ff'"
            [innerStrokeColor]="'#053658'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = false
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 skill">
        <h3>Autoconocimiento</h3>
        <circle-progress
            [percent]="80"
            [radius]="80"
            [titleColor]="'#053658'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2e4ff'"
            [innerStrokeColor]="'#053658'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = false
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 skill">
        <h3>Atención al detalle</h3>
        <circle-progress
            [percent]="75"
            [radius]="80"
            [titleColor]="'#053658'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2e4ff'"
            [innerStrokeColor]="'#053658'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = false
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 skill">
        <h3>Paciencia</h3>
        <circle-progress
            [percent]="80"
            [radius]="80"
            [titleColor]="'#053658'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2e4ff'"
            [innerStrokeColor]="'#053658'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = false
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 skill">
        <h3>Creatividad</h3>
        <circle-progress
            [percent]="85"
            [radius]="80"
            [titleColor]="'#053658'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2e4ff'"
            [innerStrokeColor]="'#053658'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = false
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 skill">
        <h3>Capacidad para escuchar</h3>
        <circle-progress
            [percent]="95"
            [radius]="80"
            [titleColor]="'#053658'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2e4ff'"
            [innerStrokeColor]="'#053658'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = false
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 skill">
        <h3>Resolución de Problemas</h3>
        <circle-progress
            [percent]="80"
            [radius]="80"
            [titleColor]="'#053658'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2e4ff'"
            [innerStrokeColor]="'#053658'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = false
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 skill">
        <h3>Pensamiento analítico</h3>
        <circle-progress
            [percent]="85"
            [radius]="80"
            [titleColor]="'#053658'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2e4ff'"
            [innerStrokeColor]="'#053658'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = false
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 skill">
        <h3>Inteligencia emocional</h3>
        <circle-progress
            [percent]="75"
            [radius]="80"
            [titleColor]="'#053658'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2e4ff'"
            [innerStrokeColor]="'#053658'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle] = false
        ></circle-progress>
    </div>
</div>
