<div class="row">
    <h2>Proyectos realizados</h2>
    <div class="contenedor">
        <h3>Sistema de gestión de club</h3>
        <div class="col-sm-12 col-md-4 col-lg-4 parte1">     
            <p>Proyecto realizado para gestionar el club de conquistadores y sus miembros. <br>Realizado utilizando HTML, CSS, Javascript, PHP, mySQL.</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 offset-md-1 offset-lg-1 parte2">
            <a href="https://club-de-conquistadores.000webhostapp.com/index.php" target="_blank"><img src="../../../assets/gestion-de-club.PNG" class="img-fluid img-proyecto" alt="pagina principal de sistema de gestion de club"></a>            
        </div>
    </div>
    <div class="contenedor">
        <h3>Portfolio personal</h3>
        <div class="col-sm-12 col-md-4 col-lg-4 parte1">     
            <p>Proyecto final de Argentina Programa #YoProgramo</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 offset-md-1 offset-lg-1 parte2">
            <a href=""><img src="../../../assets/banner.png" class="img-fluid img-proyecto" alt="pagina principal de sistema de gestion de club"></a>            
        </div>
    </div>
</div>

